{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3>Alerjen Sil</h3>
            <p>
                <strong>{{ alerjen.ad }}</strong> isimli alerjeni silmek istediğine emin misin?
            </p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Evet, Sil</button>
                <a href="{% url 'alerjen_listesi' %}" class="btn btn-secondary">Vazgeç</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}